<ion-toolbar>
  <ion-title>
    <h6>Encuentra lo que buscas fácilmente:</h6>
  </ion-title>
  <ion-searchbar></ion-searchbar>
</ion-toolbar>

<ion-grid>
  <ion-row class="ion-justify-content-center">
    <ion-col size="12">
      <ion-avatar>
        <img
          src="https://vodrich.com/cdn/shop/articles/2-zoopworld2_1024x.jpg?v=1466231616"
          alt="Harvey Specter"
        />
      </ion-avatar>
      <!-- <ion-title>
        <h2>Lic. Harvey Specter</h2>
      </ion-title> -->
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-col size="11">
      <h4><strong>
        Biografía
      </strong></h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore quisquam
        vero sint harum doloremque dolorum ipsa enim, reiciendis officiis
        obcaecati atque dignissimos, rem quod suscipit quaerat autem consectetur
        vitae quia.
      </p>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-col size="11">
      <h4><strong>
        Especialidades
      </strong></h4>
      <p>
        Lorem, ipsum, dolore
      </p>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-col size="12">
      <ion-button color="secondary" expand="block" routerLink="/chat">
        <ion-icon name="chatbubbles"></ion-icon>
        Asesoría
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
