ion-card-title {
  text-align: center;
  font-weight: 700;
}

ion-card {
  width: 300px;  margin-inline: auto;
  border-radius: 10px;
  margin-block: 35px;
}

ion-list {
  height: 80vh;
  overflow-y: scroll ;
}
