<ion-content [fullscreen]="false">
  <ion-title>
    <h4>Seleccione un área</h4>
  </ion-title>
  <ion-list [inset]="true">
    <ion-card>
      <img
        src="https://w0.peakpx.com/wallpaper/910/696/HD-wallpaper-law-judge-rules-legislature-system-hammer-regulations-wood.jpg"
        alt="Materia Civil"
      />
      <ion-card-content>
        <ion-card-title> Materia Civil </ion-card-title>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <img
        src="https://us.123rf.com/450wm/stockstudio44/stockstudio441801/stockstudio44180100202/93489174-ley-de-trabajo-y-construcci%C3%B3n-mazo-casco-y-planos.jpg?ver=6"
        alt="Materia Laboral"
      />
      <ion-card-content>
        <ion-card-title> Materia Laboral </ion-card-title>
      </ion-card-content> </ion-card
    ><ion-card>
      <img
        src="https://w0.peakpx.com/wallpaper/760/252/HD-wallpaper-family-law-judge-hammer-family-law-wooden-hand.jpg"
        alt="Materia Familiar"
      />
      <ion-card-content>
        <ion-card-title> Materia Familiar </ion-card-title>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
